@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body{
     font-family: "Roboto", sans-serif;
}
.container{
    width:1200px;
    margin:20px auto;
}
h1{
    background-color:lightgray;
    padding:15px 0px;
    text-align: center;
}
.section{
    border: 2px solid black;
    padding:10px;
}
div > section{
    margin-bottom:40px;
}